* {
  margin: 0px;
  padding: 0px;
}
/* шапка сайта  */
#header {
  width: 1201px;
  height: 105px;
  margin: auto;
}
.head {
  width: 1201px;
  height: 105px;
  position: fixed;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 5px 2px rgb(223, 223, 223);
}
/* текст в шапке */
.head .site-name {
  position: relative;
  top: -0px;
  left: 10px;
}
.head .one_color {
  color: orange;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
}
.head .second_color {
  color: grey;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
}
.head .third_color {
  color: rgb(113, 190, 113);
  font-family: "Poppins", sans-serif;
  font-size: 50px;
}
.head p {
  position: relative;
  top: -15px;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
/* text number */
.number {
  position: relative;
  top: -95px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 200;
  margin-left: -450px;
  margin-top: -16px;
}
.number1 {
  position: relative;
  top: -95px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 200;
  margin-left: -450px;
  margin-top: -8.5px;
}
.number2 {
  position: relative;
  top: -95px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 200;
  margin-left: -451px;
  margin-top: -8px;
}
.numbers {
  position: relative;
  top: -95px;
  left: -505px;
  text-align: right;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 55px;
  margin-top: -67px;
}
/* search area */
#search {
  position: absolute;
  width: 513px;
  height: 34px;
  margin-top: -105px;
  margin-left: 340px;
  border-color: orange;
  border-radius: 5px;
  font-size: 18px;
}
#search:hover {
  border-color: rgb(162, 255, 162);
}
/* basket_holder */
.basket {
  position: absolute;
  width: 195px;
  height: 33px;
  margin-top: -107px;
  margin-left: 880px;
  border-color: orange;
  border-radius: 3px;
  font-size: 15px;
}
.basket:hover {
  border-color: greenyellow;
}
/* basket image */
.basket img {
  width: 55px;
  height: 55px;
  position: relative;
  top: -45px;
  left: 265px;
}
.basket img:hover {
  width: 56px;
  height: 56px;
}
/* button  */
.button {
  font-size: 18px;
  color: white;
  line-height: 34px;
  border-radius: 8px;
  border: none;
  background-color: rgb(0, 167, 0);
  outline: none;
  position: relative;
  width: 71px;
  height: 34px;
  top: -105px;
  left: 860px;
}
.button:hover {
  background-color: orange;
  box-shadow: 1px 1px 2px gray;
}
/* telega */
.telega {
  position: relative;
  float: right;
  margin-top: -185px;
  margin-right: 265px;
}
/* telegram link */
.telega a {
  font-size: 15px;
  color: black;
  text-decoration: none;
}
.telega a:hover {
  color: orange;
  font-size: 16px;
  text-shadow: 1px 1px 1px black;
}
/* telega image */
.telega img {
  position: relative;
  left: -5px;
}
/* image clock's */
.clock_img {
  width: 50px;
  height: 50px;
  position: relative;
  top: -200px;
  left: 950px;
}
/* clock's text */
.time-shit {
  margin-top: -254.5px;
  margin-left: 1010px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: orange;
}
/* текст "не работает" */
.without-weekends {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: grey;
  margin-top: -5px;
  margin-left: 1010px;
}
.list_text {
  text-align: center;
}
/* Blocks */
#main {
  width: 1201px;
  height: 35px;
  margin: auto;
  margin-top: 8px;
  background-color: rgb(78, 78, 78);
}
.topnav a {
  display: inline-block;
  list-style-type: none;
  margin: 20px;
  margin-top: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: white;
  text-decoration: none;
}
.lolnav {
  display: inline-block;
  background-color: rgb(255, 0, 191);
  width: 120px;
  height: 35px;
}
.lolnav1 {
  display: inline-block;
  background-color: orange;
  margin-left: -4px;
  width: 75px;
  height: 35px;
}
.nav1 {
  width: 870px;
  height: 35px;
  margin: auto;
  margin-top: -380px;
  margin-left: -20px;
  background-color: rgb(78, 78, 78);
}
.nav1 h3 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  padding-top: 5px;
  padding-left: 10px;
}
.hame:hover {
  text-decoration: underline;
  color: orange;
}
.news:hover {
  text-decoration: underline;
  color: orange;
}
.contacts:hover {
  text-decoration: underline;
  color: orange;
}
.pract:hover {
  text-decoration: underline;
  color: orange;
}
.emptyblock:hover {
  text-decoration: underline;
  color: orange;
}
.garantos:hover {
  text-decoration: underline;
  color: orange;
}
.lol:hover {
  text-decoration: underline;
  color: orange;
}
.else:hover {
  text-decoration: underline;
  color: rgb(85, 85, 85);
}
.addrea:hover {
  text-decoration: underline;
  color: orange;
}
#aside {
  width: 500px;
  height: 600px;
  margin: auto;
}
.aside_1 {
  width: 300px;
  height: 600px;
  background-color: white;
  margin-left: -350px;
  margin-top: 15px;
  border-style: groove;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
}
.text-tittle {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.text-list {
  width: 270px;
  height: 450px;
  margin-left: 15px;
}
.text-list a {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  border-bottom: 1px dotted gray;
  display: block;
}
.text-list a:hover {
  text-decoration: underline;
}
.spam_background img {
  width: 870px;
  height: 200px;
  margin-left: 330px;
  margin-top: 3px;
}
.main_text {
  width: 1200px;
  height: 400px;
  margin: auto;
  margin-top: 350px;
}
.main_text h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1.45em;
  color: orange;
}
.main_text h3 {
  font-size: 1.15em;
}
.main_text p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

/* blocks */
.content-1 {
  text-align: center;
  margin-top: 12px;
  margin-bottom: -5px;
}
.content-1 ,ul,li {
  list-style-type: none;
  margin: 3px;
  margin-top: 5px;
  padding: 0;
}
.content-1 li {
  display: inline-block;
  width: 123px;
  height: 110px;
  background: white;
  box-shadow: 1px 1px 5px 1px rgb(223, 223, 223);
}
/* footer */
#footer {
  width: 1201px;
  height: 650px;
  margin: auto;
  background-color: rgba(228, 228, 228, 0.363);
  opacity: 100%;
  clear: both;
}
.footer_content {
  padding: 20px;
  width: 1201px;
  margin-bottom: 50px;
}
.footer_one {
  float: left;
  text-align: center;
  width: 200px;
}
.footer_one .tittle {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
  color: rgb(107, 107, 107);
}
.footer_one .text_footer {
  color: rgb(104, 104, 104);
  font-size: 15px;
}
.footer_two {
  float: left;
  text-align: center;
  width: 200px;
  margin-left: 38px;
}
.footer_two .tittle {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
  color: rgb(107, 107, 107);
}
.footer_two .text_footer {
  color: rgb(104, 104, 104);
  font-size: 15px;
}
.footer_three {
  float: left;
  text-align: center;
  width: 200px;
  margin-left: 38px;
}
.footer_three .tittle {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
  color: rgb(107, 107, 107);
}
.footer_three .text_footer {
  color: rgb(104, 104, 104);
  font-size: 15px;
}
.footer_four {
  float: left;
  text-align: center;
  width: 200px;
  margin-left: 38px;
}
.footer_four .tittle {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
  color: rgb(107, 107, 107);
}
.footer_four .text_footer {
  color: rgb(104, 104, 104);
  font-size: 15px;
}
.footer_five {
  float: left;
  text-align: center;
  width: 200px;
  margin-left: 38px;
}
.footer_five .tittle {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
  color: rgb(107, 107, 107);
}
.footer_five .text_footer {
  color: rgb(104, 104, 104);
  font-size: 15px;
}
.footer_bottom .tittle {
  font-size: 18px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: rgb(107, 107, 107);
  margin-left: 15px;
}
.img_links {
  padding-top: 10px;
  padding-left: 15px;
}
.person_contacts {
  padding-top: 10px;
  margin-left: 15px;
}
.mymail a {
  text-decoration: none;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  color: rgb(104, 104, 104);
}
.myviber a {
  text-decoration: none;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  color: rgb(104, 104, 104);
}
.logo_for_cards {
  width: 1201px;
  height: 50px;
  padding: 20px;
  clear: both;
}
.logo_for_cards img {
  margin-left: 90px;
  margin-top: -35px;
}
#footer .spam {
  width: 1201px;
  height: 45px;
  position: fixed;
  bottom: 0px;
  background-color: rgb(218, 218, 218);
}
.spam h3 {
  font-size: 13px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: rgb(53, 53, 53);
  position: relative;
  top: 13px;
  left: 15px;
}
#footer .username {
  width: 180px;
  height: 25px;
  position: relative;
  left: 350px;
  top: -10px;
  font-weight: bold;
  font-size: 13.5px;
  padding-left: 5px;
}
#footer .useremail {
  width: 180px;
  height: 25px;
  position: relative;
  left: 350px;
  top: -10px;
  font-weight: bold;
  font-size: 13.5px;
  padding-left: 5px;
}
#footer .submit_button {
  width: 100px;
  height: 29px;
  background-color: rgb(102, 102, 102);
  border: none;
  outline: none;
  position: relative;
  left: 350px;
  top: -10px;
  font-weight: bold;
  font-size: 13.5px;
  color: white;
}
#footer .submit_button:hover {
  background-color: rgb(15, 15, 15);
}
.prezident_UA {
  width: 1150px;
  height: 10px;
  margin-left: 25px;
  border-bottom: 1px inset rgb(197, 197, 197);
}
.eblo_lol {
  clear: both;
  margin-top: 5px;
  margin-left: 30px;
  font-size: 11px;
  float: left;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: rgb(158, 158, 158);
}
.eblo_lol .GTFOAMD {
  text-align: right;
  margin-right: -555px;
  margin-top: -30px;
}
.nav_boxes{
  width: 870px;
  height: 550px;
  margin-left: -20px;
  margin-top: 10px;
  clear: both;
}
.nav_boxes li {
  width: 162px;
  height: 167px;
  display: inline-block;
  box-shadow: 1px 1px 2px 2px rgb(223, 223, 223);
  background-image: url(/img/18-182407_memes-png-fuck-yea-meme-transparent-png.png);
}